section {
    width: 100vw;
    height: 70%;
    background-color: beige;
}
h2 {
    color: var(--dark-col);
    text-align: center;
    font-size: 3rem;
}
.gallery {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    font-family: var(--title-font);
    color: var(--dark-col);
}
.photos img {
    width: 15rem;
    height: 15rem;
}

.info td {
    /* height: 3rem; */
    text-align: center;
}