video {
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    
    object-fit: cover;

    z-index: -1;
    opacity: 80%;

    pointer-events: none;
}
section {
    text-align: center;
    font-family: var(--title-font);
    font-size: 2rem;
}
section h1 {
    width: 30rem;
}

#more_info_btn {
    width: 15rem;
    height: 5rem;
    
    background-color: var(--pink-col);

    color: var(--dark-col);
    font-size: 1.5rem;

    font-family: var(--content-font);

    border: none;
    border-radius: 2.5rem;

    transition: 120ms all;
}

#more_info_btn:hover {
    background-color: var(--dark-col);
    color: var(--pink-col);
    cursor: pointer;
}