video {
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    
    object-fit: cover;

    z-index: -1;

    pointer-events: none;

    filter: blur(2rem) opacity(.5) contrast(2);
}
section {
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
    font-family: var(--content-font);

    color: var(--light-col);

    font-size: 2rem;
    font-weight: 100;
}