footer {
    bottom: 0;
    position: absolute;

    height: 10rem;
    width: 100vw;

    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;

    color: var(--light-col);
    background-color: var(--dark-col);
}

#footer_items {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;
    
    width: 100%;
    max-width: 50rem;

    margin: 0 2rem;
}

#footer_items ol {
    display: flex;
    flex-direction: row;
    
    align-items: center;
    justify-content: center;

    gap: 2rem;
    list-style-type: none;
    font-family: var(--content-font);
}

#author {
    font-family: var(--content-font);
}
.social_icon {
    width: 1.5rem;
    height: 1.5rem;

    background: url("/img/icon_placeholder.svg");

    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}