footer {
    height: 5rem;
    width: 100vw;

    bottom: 0;
    position: absolute;

    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;

    color: var(--light-col);
    background-color: var(--dark-col);
}

#footer_items {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;
    
    width: 100%;
    max-width: 50rem;

    margin: 0 2rem;
}

#footer_items ol {
    gap: 2rem;
    list-style-type: none;
    font-family: var(--content-font);
}

#author {
    font-family: var(--content-font);
}