header {
    width: 100vw;
    height: 6rem;
    background-color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    max-width: 50rem;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    flex-grow: 1;

    margin: 0 2rem;
}

#nav_items {
    display: flex;
    /* margin: 0 50px 0 0 ; */
    list-style-type: none;
    align-items: center;
    gap: 2rem;
}

#nav li {
    color: #000;
    transition: all .2s;
}

#nav li:hover {
    color: #ffb5df;
}