header {
    top: 0;
    position: absolute;

    width: 100vw;
    height: 10rem;
    
    background-color: var(--light-col);
    font-family: var(--content-font);
    font-size: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    max-width: 50rem;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    flex-grow: 1;

    margin: 0 2rem;
}

#nav_items {
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 2rem;
}

#nav_items li {
    color: var(--dark-col);
    transition: all 120ms;
}

#nav_items li:hover {
    opacity: .3;
}

#logo {
    filter: grayscale() contrast(0) brightness(0);
}